<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0"
    xmlns:ext="http://aries.apache.org/blueprint/xmlns/blueprint-ext/v1.0.0">
  <cm:property-placeholder persistent-id="org.xipki.commons.audit" update-strategy="reload">
    <cm:default-properties>
      <cm:property name="audit.enabled" value="true"/>
    </cm:default-properties>
  </cm:property-placeholder>
  <bean id="register" class="org.xipki.commons.audit.api.internal.AuditServiceRegisterImpl">
    <property name="auditEnabled" value="${audit.enabled}"/>
  </bean>
  <reference-list id="auditServices" interface="org.xipki.commons.audit.api.AuditService" availability="optional">
    <reference-listener ref="register" bind-method="bindService" unbind-method="unbindService"/>
  </reference-list>
  <service ref="register" interface="org.xipki.commons.audit.api.AuditServiceRegister"/>
</blueprint>
