<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>XiPKI PKCS#11 Proxy Web Application</display-name>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <filter>
    <filter-name>proxy-filter</filter-name>
    <filter-class>org.xipki.p11proxy.servlet.ProxyServletFilter</filter-class>
    <init-param>
      <param-name>logReqResp</param-name>
      <!--
        If set to true, please also set writer.level to debug
        in the file META-INF/classes/tinylog.properties.
      -->
      <param-value>false</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>proxy-filter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
</web-app>
