<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  Copyright (c) 2013 - 2018 Lijun Liao

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0">

  <cm:property-placeholder persistent-id="org.xipki.security.pkcs11" update-strategy="reload">
    <cm:default-properties>
      <cm:property name="pkcs11.confFile" value="xipki/security/pkcs11-hsm.xml"/>
    </cm:default-properties>
  </cm:property-placeholder>

  <reference id="passwordResolver" interface="org.xipki.password.PasswordResolver"/>

  <reference id="securityFactory" interface="org.xipki.security.SecurityFactory"/>

  <bean id="p11ModuleFactoryRegister"
       class="org.xipki.security.pkcs11.P11ModuleFactoryRegisterImpl"
       destroy-method="shutdown">
  </bean>

  <service ref="p11ModuleFactoryRegister"
       interface="org.xipki.security.pkcs11.P11ModuleFactoryRegister"/>
  <reference-list id="p11ModuleFactories"
       interface="org.xipki.security.pkcs11.P11ModuleFactory"
       availability="optional">
    <reference-listener ref="p11ModuleFactoryRegister" bind-method="bindService"
         unbind-method="unbindService"/>
  </reference-list>

  <bean id="p11CryptServiceFactory"
      class="org.xipki.security.pkcs11.P11CryptServiceFactoryImpl"
      init-method="init" destroy-method="shutdown">
    <property name="pkcs11ConfFile" value="${pkcs11.confFile}"/>
    <property name="passwordResolver" ref="passwordResolver"/>
    <property name="p11ModuleFactoryRegister" ref="p11ModuleFactoryRegister"/>
  </bean>

  <service ref="p11CryptServiceFactory"
      interface="org.xipki.security.pkcs11.P11CryptServiceFactory"/>

  <bean id="pkcs11SignerFactory"
      class="org.xipki.security.pkcs11.PKCS11SignerFactory">
    <property name="securityFactory" ref="securityFactory"/>
    <property name="p11CryptServiceFactory" ref="p11CryptServiceFactory"/>
  </bean>

  <service ref="pkcs11SignerFactory"
      interface="org.xipki.security.SignerFactory"/>

  <bean id="XiProviderRegister"
      class="org.xipki.security.pkcs11.provider.XiProviderRegister"
      init-method="regist">
    <property name="p11CryptServiceFactory" ref="p11CryptServiceFactory"/>
  </bean>

</blueprint>
