<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0"
    xmlns:ext="http://aries.apache.org/blueprint/xmlns/blueprint-ext/v1.0.0">
  <!-- Allow the use of system properties -->
  <ext:property-placeholder placeholder-prefix="$[" placeholder-suffix="]"/>
  <cm:property-placeholder persistent-id="org.xipki.pki.ncm.server" update-strategy="reload">
    <cm:default-properties>
      <cm:property name="truststore.type" value="PKCS12"/>
      <cm:property name="truststore.provider" value=""/>
    </cm:default-properties>
  </cm:property-placeholder>
  <reference id="caManager" interface="org.xipki.pki.ca.server.mgmt.api.CaManager"/>
  <reference id="securityFactory" interface="org.xipki.commons.security.api.SecurityFactory"/>
  <!-- create the servlet and inject our own app factory -->
  <bean id="serverServlet" class="org.xipki.pki.ca.ncm.server.impl.CaManagerServlet"
      init-method="initialize" destroy-method="shutdown">
    <property name="securityFactory" ref="securityFactory"/>
    <property name="caManager" ref="caManager"/>
    <property name="truststoreFile" value="${truststore.file}"/>
    <property name="truststoreProvider" value="${truststore.provider}"/>
    <property name="truststoreType" value="${truststore.type}"/>
    <property name="truststorePassword" value="${truststore.password}"/>
  </bean>
  <!-- register it as a servlet service for the web extender -->
  <service ref="serverServlet" interface="javax.servlet.Servlet">
    <service-properties>
      <entry key="urlPatterns" value="/ncm/hessian/*"/>
    </service-properties>
  </service>
</blueprint>
