<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0">

  <reference id="p11CryptServiceFactory"
      interface="org.xipki.security.pkcs11.P11CryptServiceFactory"/>

  <bean id="XiProviderRegister"
      class="org.xipki.security.pkcs11.provider.XiProviderRegister"
      init-method="regist">
    <property name="p11CryptServiceFactory" ref="p11CryptServiceFactory"/>
  </bean>

  <!-- PKCS#11 Emulator -->
  <bean id="emulatorP11ModuleFactory"
      class="org.xipki.security.pkcs11.emulator.EmulatorP11ModuleFactory">
  </bean>

  <service ref="emulatorP11ModuleFactory"
      interface="org.xipki.security.pkcs11.P11ModuleFactory"/>

  <!-- PKCS#11 Proxy -->
  <bean id="proxyP11ModuleFactory"
      class="org.xipki.security.pkcs11.proxy.ProxyP11ModuleFactory">
  </bean>

  <service ref="proxyP11ModuleFactory"
      interface="org.xipki.security.pkcs11.P11ModuleFactory"/>

</blueprint>
