.gitignore

# log files
*.log

# CheckStyle #
.checkstyle

# Directories #
/build/
/bin/
target/

# OS Files #
.DS_Store
*.class
# Package Files #
#*.jar
*.war
*.ear
*.db

######################
# Windows
######################
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

######################
# OSX
######################
.DS_Store
.svn
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes
######################
# Eclipse
######################
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/
# Locally stored "Eclipse launch configurations"
*.launch
# CDT-specific
.cproject
# PDT-specific
.buildpath
# Intellij 
.idea/
*.iml 
*.iws
#netbeans
nbproject/private/
build/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

*~
hs_err*.log
