# Server Management URL
#
# The default is https://localhost:8443/ocsp/mgmt
#
#serverUrl = https://localhost:8443/ocsp/mgmt

useSslConf = true

# Keystore type.
#
sslStoreType = PKCS12

sslKeystore = xipki/keycerts/tlskeys/client2/tls-client2.p12

sslKeystorePassword = 1234

sslTrustanchors = xipki/keycerts/tlskeys/server/tls-server-cert.der

# Valid values are 'no_op', 'default' or java:<class name>.
# The default is 'default'
#
# ssl.hostnameVerifier = no_op
