useSslConf = true

# Keystore type.
#
ssl.storeType = PKCS12

ssl.keystore = xipki/keycerts/tlskeys/client/tls-client.p12

ssl.keystorePassword = 1234

ssl.trustanchors = xipki/keycerts/tlskeys/server/tls-server-cert.der

# Valid values are 'no_op', 'default' or java:<class name>.
# The default is 'default'
#
# ssl.hostnameVerifier = no_op
