# Server Management URL
#
# The default is https://localhost:8443/ocsp/mgmt
#
serverUrl = https://localhost:8443/ocsp/mgmt

useSslConf = true

# Keystore type.
#
ssl.storeType = PKCS12

ssl.keystore = xipki/keycerts/tlskeys/client2/tls-client2.p12

ssl.keystorePassword = 1234

ssl.trustanchors = xipki/keycerts/tlskeys/server/tls-server-cert.der

# Valid values are 'no_op', 'default' or java:<class name>.
# The default is 'default'
#
# ssl.hostnameVerifier = no_op
