################################################################################
#
# Copyright (c) 2013 - 2018 Lijun Liao
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
################################################################################

org.ops4j.pax.web.server.maxThreads=20

org.ops4j.pax.web.server.minThreads=10

org.ops4j.pax.web.server.idleTimeout=30000

javax.servlet.context.tempdir = ${karaf.home}/data/pax-web-jsp

org.osgi.service.http.secure.enabled=true

org.osgi.service.http.useNIO=false

#org.osgi.service.http.checkForwardedHeaders=

org.osgi.service.http.port=8080

#org.osgi.service.http.connector.name=

org.osgi.service.http.port.secure=8443

org.osgi.service.http.enabled=true

#org.osgi.service.http.secure.connector.name=

org.ops4j.pax.web.ssl.keystore=xipki/keycerts/tlskeys/tls-server.p12

org.ops4j.pax.web.ssl.keystore.type=PKCS12

org.ops4j.pax.web.ssl.keystore.password=1234

#org.ops4j.pax.web.ssl.key.alias=

org.ops4j.pax.web.ssl.key.password=1234

org.ops4j.pax.web.ssl.truststore=xipki/keycerts/tlskeys/tls-ca-cert.p12

org.ops4j.pax.web.ssl.truststore.password=1234

org.ops4j.pax.web.ssl.truststore.type=PKCS12

org.ops4j.pax.web.ssl.clientauthwanted=true

#org.ops4j.pax.web.ssl.clientauthneeded=true

org.ops4j.pax.web.ssl.protocols.included=TLSv1.2

#org.ops4j.pax.web.ssl.protocols.excluded=

org.ops4j.pax.web.ssl.ciphersuites.included=\
  TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,\
  TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA256,\
  TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,\
  TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256


#org.ops4j.pax.web.ssl.ciphersuites.excluded=

org.ops4j.pax.web.session.timeout=5

#org.ops4j.pax.web.session.cookie=

#org.ops4j.pax.web.session.domain=

#org.ops4j.pax.web.session.path=

#org.ops4j.pax.web.session.url=

#org.ops4j.pax.web.worker.name=

#org.ops4j.pax.web.session.cookie.httpOnly=

#org.ops4j.pax.web.session.cookie.secure=

#org.ops4j.pax.web.session.lazyload=

#org.ops4j.pax.web.session.storedirectory=

#org.ops4j.pax.web.listening.addresses=

#org.ops4j.pax.web.log.ncsa.enabled=

#org.ops4j.pax.web.log.ncsa.format=

#org.ops4j.pax.web.log.ncsa.retaindays=

#org.ops4j.pax.web.log.ncsa.append=

#org.ops4j.pax.web.log.ncsa.extended=

#org.ops4j.pax.web.log.ncsa.dispatch=

#org.ops4j.pax.web.log.ncsa.logtimezone=

#org.ops4j.pax.web.log.ncsa.directory=

#org.ops4j.pax.web.log.ncsa.latency=

#org.ops4j.pax.web.log.ncsa.cookies=

#org.ops4j.pax.web.log.ncsa.server=

#org.ops4j.pax.web.default.virtualhosts=

#org.ops4j.pax.web.default.connectors=

