<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0"
    xmlns:ext="http://aries.apache.org/blueprint/xmlns/blueprint-ext/v1.0.0">
  <cm:property-placeholder persistent-id="org.xipki.commons.security" update-strategy="reload">
    <cm:default-properties>
      <cm:property name="key.strongrandom.enabled" value="true"/>
      <cm:property name="sign.strongrandom.enabled" value="false"/>
      <cm:property name="hostnameVerifier.enabled" value="false"/>
      <cm:property name="hostnameVerifier.trustAll" value="false"/>
      <cm:property name="hostnameVerifier.commonnameHostMap" value=""/>
      <cm:property name="defaultSignerParallelism" value="32"/>
      <cm:property name="newSignerTimeout" value="60000"/>
    </cm:default-properties>
  </cm:property-placeholder>

  <reference id="passwordResolver" interface="org.xipki.commons.password.api.PasswordResolver"/>
  
  <reference id="signerFactoryRegister"
      interface="org.xipki.commons.security.api.SignerFactoryRegister"/>
  
  <bean id="securityFactory" class="org.xipki.commons.security.impl.SecurityFactoryImpl">
    <property name="strongRandom4KeyEnabled" value="${key.strongrandom.enabled}"/>
    <property name="strongRandom4SignEnabled" value="${sign.strongrandom.enabled}"/>
    <property name="defaultSignerParallelism" value="${defaultSignerParallelism}"/>
    <property name="passwordResolver" ref="passwordResolver"/>
    <property name="signerFactoryRegister" ref="signerFactoryRegister"/>
    <property name="newSignerTimeout" value="${newSignerTimeout}"/>
  </bean>
  <service ref="securityFactory" interface="org.xipki.commons.security.api.SecurityFactory"/>

  <bean id="httpHostnameVerifier" class="org.xipki.commons.security.impl.HttpsHostnameVerifier"
      init-method="init" destroy-method="shutdown">
    <property name="enabled" value="${hostnameVerifier.enabled}"/>
    <property name="trustAll" value="${hostnameVerifier.trustAll}"/>
    <property name="commonnameHostMap" value="${hostnameVerifier.commonnameHostMap}"/>
  </bean>

  <bean id="p10RequestGenerator" class="org.xipki.commons.security.impl.P10RequestGeneratorImpl"/>
  <service ref="p10RequestGenerator"
      interface="org.xipki.commons.security.api.P10RequestGenerator"/>

  <bean id="p12KeypairGenerator"
      class="org.xipki.commons.security.impl.P12KeypairGeneratorImpl"/>
  <service ref="p12KeypairGenerator"
      interface="org.xipki.commons.security.api.p12.P12KeypairGenerator"/>

</blueprint>
