<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0">
  <cm:property-placeholder persistent-id="org.xipki.qa.ca">
    <cm:default-properties>
      <cm:property name="confFile" value="xipki/ca-qa/qa-certcheck-conf.json"/>
    </cm:default-properties>
  </cm:property-placeholder>
  <bean id="qaCaSystemManager" class="org.xipki.qa.ca.CaQaSystemManagerImpl"
      destroy-method="close">
    <property name="confFile" value="${confFile}"/>
  </bean>
  <service ref="qaCaSystemManager" interface="org.xipki.qa.ca.CaQaSystemManager"/>
</blueprint>
