<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0"
    xmlns:ext="http://aries.apache.org/blueprint/xmlns/blueprint-ext/v1.0.0"
    default-activation="lazy">
  <!-- Allow the use of system properties -->
  <ext:property-placeholder placeholder-prefix="$[" placeholder-suffix="]"/>
  <reference id="securityFactory" interface="org.xipki.commons.security.api.SecurityFactory"/>
  <bean id="ocspQa" class="org.xipki.pki.ocsp.qa.impl.OcspQaImpl" init-method="init"
      destroy-method="shutdown">
    <property name="securityFactory" ref="securityFactory"/>
  </bean>
  <service ref="ocspQa" interface="org.xipki.pki.ocsp.qa.api.OcspQa"/>  
</blueprint>
