<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <bean id="servletListener" class="org.xipki.commons.http.server.ServletListener"/>

  <reference-list id="servlets" interface="org.xipki.commons.http.servlet.HttpServlet" availability="optional">
    <reference-listener ref="servletListener" bind-method="register" unbind-method="unregister"/>
  </reference-list>

  <bean id="httpserversConf" class="org.xipki.commons.http.server.FileHttpServersConf">
    <property name="confFile" value="xipki/httpservers.xml"/>
  </bean>

  <reference id="passwordResolver" interface="org.xipki.commons.password.PasswordResolver"/>

  <bean id="httpservers" class="org.xipki.commons.http.server.HttpServers" 
      init-method="start" destroy-method="shutdown">
    <property name="conf" ref="httpserversConf"/>
    <property name="servletListener" ref="servletListener"/>
    <property name="passwordResolver" ref="passwordResolver"/>
  </bean>

</blueprint>
