<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- 
 Copyright (c) 2014 - 2015 Lijun Liao
-->
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0"
    xmlns:ext="http://aries.apache.org/blueprint/xmlns/blueprint-ext/v1.0.0">
  <cm:property-placeholder persistent-id="org.xipki.audit" update-strategy="reload">
    <cm:default-properties>
      <cm:property name="audit.enabled" value="true"/>
    </cm:default-properties>
  </cm:property-placeholder>
  <reference id="auditService" interface="org.xipki.audit.api.AuditService" availability="optional"/>
  <bean id="auditServiceRegister" class="org.xipki.audit.api.AuditServiceRegisterImpl">
    <property name="auditEnabled" value="${audit.enabled}"/>
  </bean>
  <reference-list id="auditServices" interface="org.xipki.audit.api.AuditService" availability="optional">
    <reference-listener ref="auditServiceRegister" bind-method="bindService" unbind-method="unbindService"/>
  </reference-list>
  <service ref="auditServiceRegister" interface="org.xipki.audit.api.AuditServiceRegister"/>
</blueprint>
