<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0" xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0" default-activation="lazy">
  <!-- client CRL reason completer -->
  <bean id="clientCrlReasonCompleter" class="org.xipki.console.karaf.impl.completer.ClientCRLReasonCompleterImpl"/>
  <service ref="clientCrlReasonCompleter" interface="org.xipki.console.karaf.ClientCRLReasonCompleter"/>
  <!-- directory path completer -->
  <bean id="dirPathCompleter" class="org.xipki.console.karaf.impl.completer.DirPathCompleterImpl"/>
  <service ref="dirPathCompleter" interface="org.xipki.console.karaf.DirPathCompleter"/>
  <!-- EC curve name completer -->
  <bean id="ecCurveNameCompleter" class="org.xipki.console.karaf.impl.completer.ECCurveNameCompleterImpl"/>
  <service ref="ecCurveNameCompleter" interface="org.xipki.console.karaf.ECCurveNameCompleter"/>
  <!-- extension name completer -->
  <bean id="extNameCompleter" class="org.xipki.console.karaf.impl.completer.ExtensionNameCompleterImpl"/>
  <service ref="extNameCompleter" interface="org.xipki.console.karaf.ExtensionNameCompleter"/>
  <!-- extKeyusage completer -->
  <bean id="extKeyusageCompleter" class="org.xipki.console.karaf.impl.completer.ExtKeyusageCompleterImpl"/>
  <service ref="extKeyusageCompleter" interface="org.xipki.console.karaf.ExtKeyusageCompleter"/>
  <!-- file path completer -->
  <bean id="filePathCompleter" class="org.xipki.console.karaf.impl.completer.FilePathCompleterImpl"/>
  <service ref="filePathCompleter" interface="org.xipki.console.karaf.FilePathCompleter"/>
  <!-- hash algorithm completer -->
  <bean id="hashAlgCompleter" class="org.xipki.console.karaf.impl.completer.HashAlgCompleterImpl"/>
  <service ref="hashAlgCompleter" interface="org.xipki.console.karaf.HashAlgCompleter"/>
  <!-- keyusage completer -->
  <bean id="keyusageCompleter" class="org.xipki.console.karaf.impl.completer.KeyusageCompleterImpl"/>
  <service ref="keyusageCompleter" interface="org.xipki.console.karaf.KeyusageCompleter"/>
  <!-- signature algorithm completer -->
  <bean id="sigAlgCompleter" class="org.xipki.console.karaf.impl.completer.SigAlgCompleterImpl"/>
  <service ref="sigAlgCompleter" interface="org.xipki.console.karaf.SigAlgCompleter"/>
  <!-- signer type completer -->
  <bean id="signerTypeCompleter" class="org.xipki.console.karaf.impl.completer.SignerTypeCompleterImpl"/>
  <service ref="signerTypeCompleter" interface="org.xipki.console.karaf.SignerTypeCompleter"/>
  <!-- [yes, no] completer -->
  <bean id="yesNoCompleter" class="org.xipki.console.karaf.impl.completer.YesNoCompleterImpl"/>
  <service ref="yesNoCompleter" interface="org.xipki.console.karaf.YesNoCompleter"/>
  <!-- commands -->
  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.1.0">
    <command>
      <action class="org.xipki.console.karaf.impl.FileRmCommand"/>
      <completers>
        <ref component-id="filePathCompleter"/>
        <null/>
      </completers>
    </command>
    <command>
      <action class="org.xipki.console.karaf.impl.FileListCommand"/>
      <completers>
        <ref component-id="filePathCompleter"/>
        <null/>
      </completers>
    </command>
    <command>
      <action class="org.xipki.console.karaf.impl.PromptCommand"/>
    </command>
  </command-bundle>
</blueprint>
