################################################################################
#
# Copyright (c) 2013 - 2018 Lijun Liao
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
################################################################################

# facility for syslog message
# the default is user
#facility = user

# syslog host
# the default is 127.0.0.1
#host = 127.0.0.1

# prefix of the syslog message, a space will be added if not empty
prefix = xipki:

# enable this if the default hostname of the sending side should be avoided. -->
#localname =

# Maximal message length
# the default is 1024
#maxMessageLength = 1024

# port for the syslog host
# default is 514
#port = 514

# protocol for the syslog host
# valid values are udp, tcp
# the default is udp
#protocol = udp

# if a write to syslog host fails, how many retries should be done.
# not applied to udp
# the default is 2
#writeRetries = 2

# whether uses SSL to secure the communication
# not applied to udp
# the default is false
#ssl = false

# message format
# valid values are rfc_3164 and rfc_5424
# default is rfc_5424
#messageFormat = rfc_5424
