<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
        version="3.1">

  <display-name>XiPKI OCSP</display-name>

    <listener>
     <listener-class>org.xipki.ocsp.war.MyServletContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>ocspServlet</servlet-name>
        <servlet-class>org.xipki.ocsp.server.servlet.HttpOcspServlet</servlet-class>
    </servlet>

  <servlet>
    <servlet-name>healthServlet</servlet-name>
    <servlet-class>org.xipki.ocsp.server.servlet.HealthCheckServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ocspServlet</servlet-name>
    <url-pattern>/ocsp/*</url-pattern>
  </servlet-mapping>

    <servlet-mapping>
        <servlet-name>healthServlet</servlet-name>
        <url-pattern>/ocsphealth/*</url-pattern>
    </servlet-mapping>

</web-app>
