<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  Copyright (c) 2013 - 2018 Lijun Liao

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="auditServiceRegister"
      interface="org.xipki.audit.AuditServiceRegister"/>

  <reference id="responderManager"
      interface="org.xipki.ca.server.api.ResponderManager"/>

  <bean id="servletHelper" class="org.xipki.ca.server.servlet.ServletHelper">
    <property name="responderManager" ref="responderManager"/>
    <property name="auditServiceRegister" ref="auditServiceRegister"/>
  </bean>

  <!-- CMP servlet -->
  <bean id="cmpServlet" class="org.xipki.ca.server.servlet.HttpCmpServlet"/>
  <service ref="cmpServlet" interface="javax.servlet.Servlet">
    <service-properties>
      <entry key="urlPatterns" value="/ca/cmp/*"/>
    </service-properties>
  </service>

  <!-- REST servlet -->
  <bean id="restServlet" class="org.xipki.ca.server.servlet.HttpRestServlet"/>
  <service ref="restServlet" interface="javax.servlet.Servlet">
    <service-properties>
      <entry key="urlPatterns" value="/ca/rest/*"/>
    </service-properties>
  </service>

  <!-- SCEP servlet -->
  <bean id="scepServlet" class="org.xipki.ca.server.servlet.HttpScepServlet"/>
  <service ref="scepServlet" interface="javax.servlet.Servlet">
    <service-properties>
      <entry key="urlPatterns" value="/ca/scep/*"/>
    </service-properties>
  </service>

  <!-- Health servlet -->
  <bean id="healthServlet" class="org.xipki.ca.server.servlet.HealthCheckServlet"/>
  <service ref="healthServlet" interface="javax.servlet.Servlet">
    <service-properties>
      <entry key="urlPatterns" value="/ca/health/*"/>
    </service-properties>
  </service>

  <!-- CaCert servlet -->
  <bean id="caCertServlet" class="org.xipki.ca.server.servlet.HttpCaCertServlet"/>
  <service ref="caCertServlet" interface="javax.servlet.Servlet">
    <service-properties>
      <entry key="urlPatterns" value="/ca/cacert/*"/>
    </service-properties>
  </service>

</blueprint>
