<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">
  <bean id="factory" class="org.xipki.pki.ca.publisher.ocsp.internal.X509CertPublisherFactoryImpl"/>
  <service ref="factory" interface="org.xipki.pki.ca.api.publisher.x509.X509CertPublisherFactory"/>
</blueprint>
