<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0" xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0" xmlns:ext="http://aries.apache.org/blueprint/xmlns/blueprint-ext/v1.0.0">
  <!--
      Properties
  -->
  <!-- Allow the use of system properties -->
  <ext:property-placeholder placeholder-prefix="$[" placeholder-suffix="]"/>
  <!--
      Note: Don't include a "-" in the persistent-id, or the config admin will
      interpret it as a service-factory.
  -->
  <cm:property-placeholder persistent-id="org.xipki.ca.server" update-strategy="reload">
    <cm:default-properties>
      <cm:property name="urlPatterns" value="/cmp/*"/>
      <cm:property name="caConfFile" value="ca-config/ca.properties"/>
      <cm:property name="healthUrlPatterns" value="/health/*"/>
      <cm:property name="certprofile.map" value=""/>
    </cm:default-properties>
  </cm:property-placeholder>
  <reference id="dataSourceFactory" interface="org.xipki.datasource.api.DataSourceFactory"/>
  <reference id="securityFactory" interface="org.xipki.security.api.SecurityFactory"/>
  <reference id="auditServiceRegister" interface="org.xipki.audit.api.AuditLoggingServiceRegister"/>
  <bean id="caManager" class="org.xipki.ca.server.mgmt.CAManagerImpl" init-method="startCaSystem" destroy-method="shutdown">
    <property name="securityFactory" ref="securityFactory"/>
    <property name="dataSourceFactory" ref="dataSourceFactory"/>
    <property name="caConfFile" value="${caConfFile}"/>
    <property name="auditServiceRegister" ref="auditServiceRegister"/>
    <property name="certprofileMap" value="${certprofile.map}"/>
  </bean>
  <service ref="caManager">
    <interfaces>
      <value>org.xipki.ca.server.mgmt.api.CAManager</value>
      <value>org.xipki.ca.server.mgmt.CmpResponderManager</value>
    </interfaces>
  </service>
  <!-- create the servlet and inject our own app factory -->
  <bean id="caServlet" class="org.xipki.ca.server.Rfc6712Servlet">
    <property name="responderManager" ref="caManager"/>
    <property name="auditServiceRegister" ref="auditServiceRegister"/>
  </bean>
  <!-- register it as a servlet service for the web extender -->
  <service ref="caServlet" interface="javax.servlet.Servlet">
    <service-properties>
      <entry key="urlPatterns" value="${urlPatterns}"/>
    </service-properties>
  </service>
  <bean id="healthServlet" class="org.xipki.ca.server.HealthCheckServlet">
    <property name="responderManager" ref="caManager"/>
  </bean>
  <service ref="healthServlet" interface="javax.servlet.Servlet">
    <service-properties>
      <entry key="urlPatterns" value="${healthUrlPatterns}"/>
    </service-properties>
  </service>
</blueprint>
