<?xml version="1.0"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0" xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0" xmlns:ext="http://aries.apache.org/blueprint/xmlns/blueprint-ext/v1.0.0">
  <!--
    Properties
    Note: Don't include a "-" in the persistent-id, or the config admin will
    interpret it as a service-factory.
  -->
  <!-- Allow the use of system properties -->
  <ext:property-placeholder placeholder-prefix="$[" placeholder-suffix="]"/>
  <cm:property-placeholder persistent-id="org.xipki.audit.slf4j" update-strategy="reload">
    <cm:default-properties>
    </cm:default-properties>
  </cm:property-placeholder>
  <bean id="slf4jAuditLoggingServiceImpl" class="org.xipki.audit.slf4j.Slf4jAuditLoggingServiceImpl"/>
  <service ref="slf4jAuditLoggingServiceImpl" interface="org.xipki.audit.api.AuditLoggingService"/>
</blueprint>
