<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  Copyright (c) 2013 - 2018 Lijun Liao

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0">
  <cm:property-placeholder persistent-id="org.xipki.util.curl">
    <cm:default-properties>
      <cm:property name="useSslConf" value="false" />
      <cm:property name="ssl.storeType" value="" />
      <cm:property name="ssl.keystore" value="" />
      <cm:property name="ssl.keystorePassword" value="" />
      <cm:property name="ssl.truststore" value="" />
      <cm:property name="ssl.truststorePassword" value="" />
      <cm:property name="ssl.hostnameVerifier" value="default" />
    </cm:default-properties>
  </cm:property-placeholder>

  <bean id="sslContextConf" class="org.xipki.util.http.SslContextConf">
    <property name="useSslConf" value="${useSslConf}"/>
    <property name="sslStoreType" value="${ssl.storeType}"/>
    <property name="sslKeystore" value="${ssl.keystore}"/>
    <property name="sslKeystorePassword" value="${ssl.keystorePassword}"/>
    <property name="sslTruststore" value="${ssl.truststore}"/>
    <property name="sslTruststorePassword" value="${ssl.truststorePassword}"/>
    <property name="sslHostnameVerifier" value="${ssl.hostnameVerifier}"/>
  </bean>

  <bean id="curl" class="org.xipki.util.DefaultCurl">
    <property name="sslContextConf" ref="sslContextConf"/>
  </bean>

  <service ref="curl" interface="org.xipki.util.Curl"/>
</blueprint>
