<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0">

  <cm:property-placeholder persistent-id="org.xipki.password">
    <cm:default-properties>
      <cm:property name="masterPassword.callback" value="PBE-GUI quorum=1,tries=3"/>
      <cm:property name="masterPassword.iterationCount" value="2000"/>
    </cm:default-properties>
  </cm:property-placeholder>

  <!-- Password Resolver -->
  <bean id="passwordResolver" class="org.xipki.password.PasswordResolverImpl"
      init-method="init">
      <property name="masterPasswordCallback" value="${masterPassword.callback}"/>
      <property name="masterPasswordIterationCount" value="${masterPassword.iterationCount}"/>
  </bean>
  <reference-list id="singlePasswordResolvers"
      interface="org.xipki.password.SinglePasswordResolver" availability="optional">
    <reference-listener ref="passwordResolver" bind-method="registResolver"
        unbind-method="unregistResolver"/>
  </reference-list>
  <service ref="passwordResolver" interface="org.xipki.password.PasswordResolver"/>

</blueprint>
