<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0">
  <cm:property-placeholder persistent-id="org.xipki.ca.mgmt.client">
    <cm:default-properties>
      <cm:property name="serverUrl" value="https://localhost:8443/ca/mgmt"/>
      <cm:property name="useSslConf" value="false" />
      <cm:property name="sslStoreType" value="" />
      <cm:property name="sslKeystore" value="" />
      <cm:property name="sslKeystorePassword" value="" />
      <cm:property name="sslTruststore" value="" />
      <cm:property name="sslKeystorePassword" value="" />
      <cm:property name="sslHostnameVerifier" value="default" />
    </cm:default-properties>
  </cm:property-placeholder>

  <bean id="sslContextConf" class="org.xipki.util.http.SslContextConf">
    <property name="useSslConf" value="${useSslConf}"/>
    <property name="sslStoreType" value="${sslStoreType}"/>
    <property name="sslKeystore" value="${sslKeystore}"/>
    <property name="sslKeystorePassword" value="${sslKeystorePassword}"/>
    <property name="sslTruststore" value="${sslTruststore}"/>
    <property name="sslTruststorePassword" value="${sslTruststorePassword}"/>
    <property name="sslHostnameVerifier" value="${sslHostnameVerifier}"/>
  </bean>

  <bean id="caManager" class="org.xipki.ca.mgmt.client.CaMgmtClient">
    <argument ref="sslContextConf"/>
    <property name="serverUrl" value="${serverUrl}"/>
  </bean>

  <service ref="caManager" interface="org.xipki.ca.api.mgmt.CaManager"/>
</blueprint>
