<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0">
  <cm:property-placeholder persistent-id="org.xipki.shell.curl">
    <cm:default-properties>
      <cm:property name="useSslConf" value="false" />
      <cm:property name="confFile" value="xipki/etc/curl.json" />
    </cm:default-properties>
  </cm:property-placeholder>

  <bean id="curl" class="org.xipki.util.DefaultCurl">
    <property name="useSslConf" value="${useSslConf}"/>
    <property name="confFile" value="${confFile}"/>
  </bean>

  <service ref="curl" interface="org.xipki.util.Curl"/>
</blueprint>
