<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0">
  <cm:property-placeholder persistent-id="org.xipki.shell.curl">
    <cm:default-properties>
      <cm:property name="useSslConf" value="false" />
      <cm:property name="ssl.storeType" value="" />
      <cm:property name="ssl.keystore" value="" />
      <cm:property name="ssl.keystorePassword" value="" />
      <cm:property name="ssl.trustanchors" value="" />
      <cm:property name="ssl.hostnameVerifier" value="default" />
    </cm:default-properties>
  </cm:property-placeholder>

  <reference id="passwordResolver" interface="org.xipki.password.PasswordResolver"/>

  <bean id="sslContextConf" class="org.xipki.util.http.SslContextConf">
    <property name="useSslConf" value="${useSslConf}"/>
    <property name="sslStoreType" value="${ssl.storeType}"/>
    <property name="sslKeystore" value="${ssl.keystore}"/>
    <property name="sslKeystorePassword" value="${ssl.keystorePassword}"/>
    <property name="sslTrustanchors" value="${ssl.trustanchors}"/>
    <property name="sslHostnameVerifier" value="${ssl.hostnameVerifier}"/>
    <property name="passwordResolver" ref="passwordResolver"/>
  </bean>

  <bean id="curl" class="org.xipki.util.DefaultCurl">
    <argument ref="sslContextConf"/>
  </bean>

  <service ref="curl" interface="org.xipki.util.Curl"/>
</blueprint>
