<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0"
    xmlns:ext="http://aries.apache.org/blueprint/xmlns/blueprint-ext/v1.0.0"
    default-activation="lazy">
  <!-- Allow the use of system properties -->
  <ext:property-placeholder placeholder-prefix="$[" placeholder-suffix="]"/>
  <!--
      Note: Don't include a "-" in the persistent-id, or the config admin will
      interpret it as a service-factory.
  -->
  <cm:property-placeholder persistent-id="org.xipki.pki.ca.qa" update-strategy="reload">
    <cm:default-properties>
      <cm:property name="confFile" value="xipki/ca-qa/caqa-conf.xml"/>
    </cm:default-properties>
  </cm:property-placeholder>
  <bean id="qaSystemManager" class="org.xipki.pki.ca.qa.impl.QaSystemManagerImpl" init-method="init" destroy-method="shutdown">
    <property name="confFile" value="${confFile}"/>
  </bean>
  <service ref="qaSystemManager" interface="org.xipki.pki.ca.qa.api.QaSystemManager"/>  
</blueprint>
