<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0">
  <cm:property-placeholder persistent-id="org.xipki.cmpclient">
    <cm:default-properties>
      <cm:property name="confFile" value="xipki/etc/cmp-client.json"/>
    </cm:default-properties>
  </cm:property-placeholder>
  <reference id="securityFactory" interface="org.xipki.security.SecurityFactory"/>
  <bean id="cmpClient" class="org.xipki.cmpclient.internal.CmpClientImpl"
      destroy-method="close">
    <property name="securityFactory" ref="securityFactory"/>
    <property name="confFile" value="${confFile}"/>
  </bean>
  <service ref="cmpClient" interface="org.xipki.cmpclient.CmpClient"/>
</blueprint>
