<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>ctlog-dummy-server</display-name>
    <description>
        CtLog Dummy Server
    </description>

    <servlet>
        <servlet-name>ctlogrsa</servlet-name>
        <servlet-class>org.xipki.example.ctlogservlet.CtLogServletRSA</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ctlogec</servlet-name>
        <servlet-class>org.xipki.example.ctlogservlet.CtLogServletEC</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ctlogrsa</servlet-name>
        <url-pattern>/ctlogrsa/ct/v1/add-pre-chain/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ctlogec</servlet-name>
        <url-pattern>/ctlogec/ct/v1/add-pre-chain/*</url-pattern>
    </servlet-mapping>

</web-app>
