<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0"
    xmlns:ext="http://aries.apache.org/blueprint/xmlns/blueprint-ext/v1.0.0">
  <!--
      Properties
  -->
  <!-- Allow the use of system properties -->
  <ext:property-placeholder placeholder-prefix="$[" placeholder-suffix="]"/>
  <!--
      Note: Don't include a "-" in the persistent-id, or the config admin will
      interpret it as a service-factory.
  -->
  <cm:property-placeholder persistent-id="org.xipki.pki.ncm.client" update-strategy="reload">
    <cm:default-properties>
      <cm:property name="serverURL" value="https://localhost:8443/ncm/hessian"/>
    </cm:default-properties>
  </cm:property-placeholder>
  <bean id="caManager" class="org.xipki.pki.ca.ncm.client.impl.CAManagerClient" init-method="init" destroy-method="shutdown">
    <property name="serverURL" value="${serverURL}"/>
  </bean>
  <service ref="caManager" interface="org.xipki.pki.ca.server.mgmt.api.CAManager"/>
</blueprint>
