<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0" 
  xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0"
  xmlns:ext="http://aries.apache.org/blueprint/xmlns/blueprint-ext/v1.0.0">
  <!-- Allow the use of system properties -->
  <ext:property-placeholder placeholder-prefix="$[" placeholder-suffix="]"/>
  <cm:property-placeholder persistent-id="org.xipki.pki.ocsp.server" update-strategy="reload">
    <cm:default-properties>
      <cm:property name="confFile" value="xipki/ocsp-config/ocsp-responder.xml"/>
      <cm:property name="urlPatterns" value="/ocsp/*"/>
      <cm:property name="healthUrlPatterns" value="/health/ocsp/*"/>
    </cm:default-properties>
  </cm:property-placeholder>
  <reference id="dataSourceFactory" interface="org.xipki.commons.datasource.api.DataSourceFactory"/>
  <reference id="securityFactory" interface="org.xipki.commons.security.api.SecurityFactory"/>
  <reference id="auditServiceRegister"
      interface="org.xipki.commons.audit.api.AuditServiceRegister"/>
  <reference id="ocspStoreFactoryRegister"
      interface="org.xipki.pki.ocsp.api.OcspStoreFactoryRegister"/>
  <bean id="ocspServer" class="org.xipki.pki.ocsp.server.impl.OcspServer" 
      init-method="asynInit" destroy-method="shutdown">
    <property name="confFile" value="${confFile}"/>
    <property name="dataSourceFactory" ref="dataSourceFactory"/>
    <property name="securityFactory" ref="securityFactory"/>
    <property name="auditServiceRegister" ref="auditServiceRegister"/>
    <property name="ocspStoreFactoryRegister" ref="ocspStoreFactoryRegister"/>
  </bean>
  <!-- create the servlet and inject our own app factory -->
  <bean id="ocspServlet" class="org.xipki.pki.ocsp.server.impl.HttpOcspServlet">
    <property name="server" ref="ocspServer"/>
    <property name="auditServiceRegister" ref="auditServiceRegister"/>
  </bean>
  <!-- register it as a servlet service for the web extender -->
  <service ref="ocspServlet" interface="javax.servlet.Servlet">
    <service-properties>
      <entry key="urlPatterns" value="${urlPatterns}"/>
    </service-properties>
  </service>
  <!-- create the servlet and inject our own app factory -->
  <bean id="healthServlet" class="org.xipki.pki.ocsp.server.impl.HealthCheckServlet">
    <property name="server" ref="ocspServer"/>
  </bean>
  <service ref="healthServlet" interface="javax.servlet.Servlet">
    <service-properties>
      <entry key="urlPatterns" value="${healthUrlPatterns}"/>
    </service-properties>
  </service>
</blueprint>
